#timer{
    text-align: right;
}

header {
    padding: 40px;
    text-align: center;
    border-bottom: 30px;
}

main{
text-align: center;
}

#initial-form{
    visibility: hidden;
}

#high-score-table{
    visibility: hidden;
}

#back{
    visibility: hidden;
}

#clear{
    visibility: hidden;
}